@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2 text-white">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="row border p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="text-primary">Create Category</h2>
                    </hr>
                </div>
                <div class="row mb-3">
                    <label asp-for="CategoryName"></label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <label asp-for="DisplayOrder"></label>
                    <input asp-for="DisplayOrder" class="form-control" />
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-md-6">
                        <a asp-controller="CategoryController" asp-action="Index" class="btn btn-outline-success form-control ">Back</a>
                    </div>
                </div>



            </div>
        </form>
    </div>
</div>


@* Clinet Side Validation *@
@section Scripts {
    @{
        <partial name="_validationscriptspartial" />
    }
}